.button-bar {

    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #999;

    .button {

        padding: 0.1em 0.4em;
        border-left: 1px solid #999;
        font-size: 0.9rem;

        &:first-of-type {
            border-left: none;
        }

        &:last-of-type {
            border-right: 1px solid #999;
        }

    }

    .separator {

        width: 0;
        border-right: 4px solid #999;

        + .button {
            border-left: none;
        }

    }

}